 <header>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
           <%= link_to "Tech University", root_path, class: "brand-logo right" %>
           <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
           <ul id="nav-mobile" class="left hide-on-med-and-down">

               <li><%= link_to 'Courses', root_path %></li>

               <% if loggen_in? %>
                   <li><%= link_to "Students", students_path %></li>
               <% end %>  
               
                <% if loggen_in? %>
                  <li>
                    <%= link_to "Profile", student_path(current_user) %>
                  </li>
                <% end %>

                    <% if loggen_in? %>
   <li>
     <%= button_to 'Logout', logout_path, class: "btn btn-danger", method: :delete %>
   </li>
   <% else %>
   <li>
    <%= link_to 'Log In',login_path, class: "btn btn-outline-success" %> 
    </li>
      <li>
    <%= link_to 'Sign Up',new_student_path, class: "btn btn-outline-info" %> 
    </li>
   <% end %>     
           
          <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Courses</a></li>
            <% if loggen_in? %>
              <li><%= link_to "Students", students_path %></li>
            <% end %>  
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          
         </div>
        </div>  
      </nav>
    <% flash.each do |key, message| %>
       <div class="container">
         <div class="col s12 m12 l12">
              <div class="card-panel red lighten-2" id="fade-out-target">
                    <span class ="white-text">
                        <%= message %>
                    </span>
              </div>
          </div>
        </div>              
    <% end %>  
  </header>